<!DOCTYPE html>
<html>
  <head>
    <title>RobinShould</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="title" property="og:title" content="Robinshould"/>
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51607945193_c91fd8147d_k.jpg"  />
    <meta name="description" property="og:description" content="Robinshould is a clone of a website called Robinhood. Robinshould allows users to buy and sell stock for more than 8,000 stocks all of which have data such as real-time data, historical data and much more which users can use to study which stocks they want to buy."/>
    <meta name="author" content="Sam Jeon" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/666e5af262.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.coolBalloon = "<%= image_url('coolBalloon.png') %>";
      window.login = "<%= image_url('login.png') %>";
      window.logo = "<%= image_url('logo.png') %>";
      window.postgres = "<%= image_url('postgresql.png') %>";
      window.rails = "<%= image_url('rails.png') %>";
      window.redux = "<%= image_url('redux.png') %>";
      window.react = "<%= image_url('react.png') %>";
      window.ruby = "<%= image_url('ruby.png') %>";
      window.phone = "<%= image_url('splashPhone.png') %>";
      window.tree = "<%= image_url('tree.png') %>";
      window.greenTree= "<%= image_url('greenTree.png') %>";
    </script>
    <link rel="icon" type="image/png" href="<%= image_url('greenTree.png') %>">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
